* {
  margin: 0%;
  padding: 0%;
}
/*  --main-color: #f73434; */

:root {
  --main-color: #f3b313;
  --secondary-color: #212121;
}

.Header {
  height: 10vh;
  width: 100vw;
  background-color: var(--main-color);
}

.Header > h1 {
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 300%;
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home > h1 {
  color: var(--secondary-color);
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Home > p {
  color: var(--secondary-color);
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lang-but {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px;
  border: 0px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}
.lang {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
}

.learning > button {
  margin-top: 20px;
  color: var(--main-color);
  background-color: #21212100;
  border: 0px;
  cursor: pointer;
}

.word {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.word > h1 {
  font-weight: lighter;
}

.word > svg {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--main-color);
  margin-left: 10px;
  cursor: pointer;
}
.word > p {
  margin-top: auto;
  margin-bottom: auto;
}
.output {
  color: rgb(79, 79, 248);
}

.next {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
  width: 70%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  font-weight: 600;
}
.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  background-color: #bfb3b300;
  margin-top: 20px;
}
.next2 {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
  width: 80%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  font-weight: 600;
  border: 0px;
}
.quiz > h3 {
  color: var(--main-color);
}
.quiz > p {
  font-size: 150%;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  transform: translateY(100%);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  transform-origin: bottom;
  position: relative;
}
.loader::before {
  background: radial-gradient(at 30% 30%, #0000, #000a) red;
  transform: scaleY(0.65);
  top: 0;
  animation: l11-1, l11-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 400, 1, 400), ease;
  animation-iteration-count: infinite;
}
.loader::after {
  background: #ccc;
  filter: blur(8px);
  transform: scaleY(0.3) translate(0px, 0px);
  left: 0;
  animation: l11-3 2s cubic-bezier(0, 400, 1, 400) infinite;
}
@keyframes l11-1 {
  100% {
    top: -0.2px;
  }
}
@keyframes l11-2 {
  4%,
  96% {
    transform: scaleY(1);
  }
}
@keyframes l11-3 {
  100% {
    transform: scaleY(0.3) translate(0.1px, -0.1px);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.result > h1 {
  color: var(--main-color);
}
.result > p {
  font-size: larger;
}
.result {
  margin-top: 40px;
  width: 50%;
  min-height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result-sheet {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}
.each1 {
  display: flex;
}
.each1 > h2 {
  font-weight: 500;
}
.each2 {
  display: flex;
}
.each2 > h2 {
  font-weight: 500;
}
.your {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.your > h2 {
  margin-bottom: 10px;
}
.actual {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actual > h2 {
  margin-bottom: 10px;
}
.pass {
  color: rgb(5, 195, 5);
}
.fail {
  color: red;
}
.reset {
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}
.header {
  height: 10vh;
  width: 100vw;
  /* background-color: aliceblue; */
  display: flex;
  /* justify-content: space-around; */
  margin-top: 0px;
  justify-content: space-evenly;
}
.header > h3 {
  color: rgb(161, 161, 161);
  margin-top: 50px;
  margin-bottom: auto;
}
.image-icon {
  /* border-color: var(--secondary-color); */
  width: 20%;
  /* background-color: #212121; */
  height: 170%;
  background-image: url("./Assests/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: auto;
  align-self: first baseline;
}
.company {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  gap: 10px;
}
.name {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--main-color);
  font-size: 300%;
}
.button-Signup {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: var(--main-color);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 17px;
  box-shadow: 0px 14px 56px -11px var(--main-color);
  width: 15em;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}

.button-Signup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-Signup span:after {
  content: "for free";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button-Signup:hover span {
  padding-right: 3.55em;
}

.button-Signup:hover span:after {
  opacity: 4;
  right: 0;
}

.button-getStarted {
  --color: var(--main-color);
  font-family: inherit;
  display: inline-block;
  width: 15em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--color);
}

.button-getStarted:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
}

.button-getStarted:hover {
  color: #fff;
}

.button-getStarted:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button-getStarted:hover:before {
  top: -30px;
  left: -30px;
}

.button-getStarted:active:before {
  background: var(--main-color);
  transition: ease-in;
}
.photo {
  background: url("./Assests/one.svg");
  width: 50%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-page {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
.tag {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.tag > h1 {
  letter-spacing: 2px;
  font-size: 250%;
  margin-bottom: 20px;
  color: rgb(53, 53, 53);
}
.flag-div {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
}
.flag {
  height: 100%;
}
/* PRATYUSH */
/* Team image section */
.main-team {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f5f7;
}

.profile-card {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  margin: 0 25px;
}

.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
  cursor: pointer;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}

.profile-card:hover .img {
  transform: translateY(-90px);
}

.profile-card:hover img {
  border-radius: 10px;
}

.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}

.profile-card:hover .caption {
  opacity: 1;
}

.caption h3 {
  font-size: 25px;
}

.caption p {
  font-size: 17px;
  color: #f7ff0b;
  font-weight: bold;
}

.social-links a {
  color: #333;
  font-size: 21px;
  transition: 0.6s;
}

i {
  margin-top: 10px;
  padding: 5px;
}

.social-links a:hover {
  color: #e5ff6fb5;
}

/* Footer */
.footer-distributed {
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #000000;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--main-color);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; 
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
