* {
  margin: 0%;
  padding: 0%;
}
/*  --main-color: #f73434; */

:root {
  --main-color: #f3b313;
  --secondary-color: #212121;
}

.Header {
  height: 10vh;
  width: 100vw;
  background-color: var(--main-color);
}

.Header > h1 {
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 300%;
}
.Home {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home > h1 {
  color: var(--main-color);
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 900px;
}
.Home > h2 {
  /* margin-top: 190px; */
  color: var(--secondary-color);
  font-size: 150%;

  margin-top: 30px;
  margin-bottom: 20px;
}
.lang-but {
  /* background-color: var(--main-color); */
  /* color: var(--secondary-color); */
  padding: 10px;
  border: 0px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}
.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.lang-item {
  border-radius: 20px;
  margin: 5px;
  /* border: solid #f3b313; */
  /* background-color: #f3b313; */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
}

.lang-button {
  display: flex;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 20px;
  /* border: solid #f3b313; */
  border-radius: 20px;
  /* background-color: #f3b313; */
  width: 100%;
}
.learning-main {
  display: flex;
  justify-content: space-around;
}

.learning {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 50vw;
  margin-top: 150px;
  /* margin-left: auto; */
  margin-right: auto;
  height: 40vh;
}

.question {
  font-weight: 600;
}

.learning-title {
  margin-bottom: 30px;
  margin-right: 450px;
  color: var(--main-color);
}
.image-gify {
  margin-top: 70px;
  margin-left: 200px;
}

/* .learning > button {
  margin-top: 20px;
  width: 100%;
  color: var(--main-color);
  background-color: #21212100;
  border: 0px;
  cursor: pointer;
} */

.word {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.word > h1 {
  font-weight: lighter;
}

.word > svg {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--main-color);
  margin-left: 10px;
  cursor: pointer;
}
.word > p {
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}
.back-button {
  width: 6%;
  height: 12%;
  padding-top: 4px;
  /* border-color: #f3b313; */
  background-color: var(--main-color);
  border-radius: 50%;
  color: var(--secondary-color);
  margin-right: 350px;
  margin-bottom: 20px;
}

.output {
  color: var(--main-color);
}

.next {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
  width: 70%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  font-weight: 600;
}
.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  background-color: #bfb3b300;
  margin-top: 20px;
}
.next2 {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
  width: 80%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  font-weight: 600;
  border: 0px;
}
.quiz > h3 {
  color: var(--main-color);
}
.quiz > p {
  font-size: 150%;
}

.loader {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  margin: 0 auto;
  margin-top: 18%;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* .loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  transform-origin: bottom;
  position: relative;
}
.loader::before {
  background: radial-gradient(at 30% 30%, #0000, #000a) red;
  transform: scaleY(0.65);
  top: 0;
  animation: l11-1, l11-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 400, 1, 400), ease;
  animation-iteration-count: infinite;
}
.loader::after {
  background: #ccc;
  filter: blur(8px);
  transform: scaleY(0.3) translate(0px, 0px);
  left: 0;
  animation: l11-3 2s cubic-bezier(0, 400, 1, 400) infinite;
}
@keyframes l11-1 {
  100% {
    top: -0.2px;
  }
}
@keyframes l11-2 {
  4%,
  96% {
    transform: scaleY(1);
  }
}
@keyframes l11-3 {
  100% {
    transform: scaleY(0.3) translate(0.1px, -0.1px);
  }
} */

.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.result > h1 {
  color: var(--main-color);
}
.result > p {
  font-size: larger;
}
.result {
  margin-top: 40px;
  width: 50%;
  min-height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result-sheet {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}
.each1 {
  display: flex;
}
.each1 > h2 {
  font-weight: 500;
}
.each2 {
  display: flex;
}
.each2 > h2 {
  font-weight: 500;
}
.your {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.your > h2 {
  margin-bottom: 10px;
}
.actual {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actual > h2 {
  margin-bottom: 10px;
}
.pass {
  color: rgb(5, 195, 5);
}
.fail {
  color: red;
}
.reset {
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}
/* Header Section */
.header {
  height: 10vh;
  width: 100vw;
  /* background-color: aliceblue; */
  display: flex;
  /* justify-content: space-around; */
  margin-top: 0px;
  justify-content: space-evenly;
}
.header > h3 {
  color: rgb(161, 161, 161);
  margin-top: 20px;
  margin-bottom: auto;
}
.image-icon {
  /* border-color: var(--secondary-color); */
  width: 250px;
  /* background-color: #212121; */
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: auto;
  align-self: first baseline;
}
.about-us {
  color: rgb(161, 161, 161);
  margin-top: 20px;
  margin-bottom: auto;
  text-decoration: none;
}
.company {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  gap: 10px;
}
.name {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--main-color);
  font-size: 300%;
}
.button-Signup {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: var(--main-color);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 17px;
  box-shadow: 0px 14px 56px -11px var(--main-color);
  width: 15em;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}

.button-Signup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-Signup span:after {
  content: "for free";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button-Signup:hover span {
  padding-right: 3.55em;
}

.button-Signup:hover span:after {
  opacity: 4;
  right: 0;
}

/* navigation Buttons */
.navigation-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 210px;
  align-items: center;
}

.button-getStarted {
  --color: var(--main-color);
  font-family: inherit;
  display: inline-block;
  width: 15em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--color);
}

.button-getStarted:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
}

.button-getStarted:hover {
  color: #fff;
}

.button-getStarted:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button-getStarted:hover:before {
  top: -30px;
  left: -30px;
}

.button-getStarted:active:before {
  background: var(--main-color);
  transition: ease-in;
}
.photo {
  background: url("./Assests/one.svg");
  width: 50%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-page {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
.tag {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.tag > h1 {
  letter-spacing: 2px;
  font-size: 250%;
  margin-bottom: 20px;
  color: rgb(53, 53, 53);
}
.flag-div {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
}
.flag {
  height: 100%;
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.flag:hover {
  transform: scale(1.1);
}

/* PRATYUSH */
/* Team image section */
.main-team {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f5f7;
}

.profile-card {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  margin: 0 25px;
}

.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
  cursor: pointer;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}

.profile-card:hover .img {
  transform: translateY(-90px);
}

.profile-card:hover img {
  border-radius: 10px;
}

.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}

.profile-card:hover .caption {
  opacity: 1;
}

.caption h3 {
  font-size: 25px;
}

.caption p {
  font-size: 17px;
  color: #ffd500;
  font-weight: bold;
}

.social-links a {
  color: #333;
  font-size: 21px;
  transition: 0.6s;
}

i {
  margin-top: 10px;
  padding: 5px;
}

.social-links a:hover {
  color: #e5ff6fb5;
}
/* ********************************************************************** */
/* Footer */
.footer-distributed {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100vw;
  height: 20vh;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--main-color);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #000000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

/* .footer-distributed .footer-center {
  width: 35%;
} */

/* .footer-distributed .footer-center i {
  background-color: #33383b;
  color: #000000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
} */

/* .footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
} */

/* .footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
} */

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  /* left: 0; */
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  padding-bottom: 50px;
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #92999f;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ************************************** */
/*LOGIN FORM */

.Login-input {
  margin-top: 100px;
}
form {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 5px #ccc; */
  /* margin-top: 60px; */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit {
  width: 100%;
  margin: 5px;
  font-size: 20px;
  margin-top: 20px;
}
input[type="submit"] {
  color: #ffffff;
  background-color: #f3b313;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #000000;
}

.resultgif {
  margin-top: 70px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.gif {
  margin-top: 200px;
  border-radius: 100%;
  margin-left: 80px;
  width: 260px;
  height: 260px;
}
